# PostgreSQL connection
DB_HOST=db
DB_PORT=5432
DB_DATABASE=poro_ninja
DB_USERNAME=user
DB_PASSWORD=pass

# Riot API key
API_KEY=your-api-key

# Champion data version
DDRAGON_Version=15.6.1

# Sync interval in seconds
SyncInterval=900

# Express port
PORT=8000

#DEBUGER Configuration
# Logging level for application debugging
# 0 = No logs (silent mode)
# 1 = Basic logs (start/end of processes, summary)
# 2 = Detailed logs (step-by-step process details)
# Default: 0 (if not set)
LOGS_LEVEL=1